footer {
    background-color: #000000;
    border-top: 0.5rem solid #dbc18a;
    color: #f8f8f8;
    height: 16rem
  }
  
  .footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .developer-info {
    font-size: 1rem;
    margin-block: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .social-icons {
    display: flex;
    align-items: center;
  }
  
  .social-icons a {
    display: inline-block;
    color: #999;
    font-size: 16px;
  }
  
  .about-link a {
    display: inline-block;
    color: #999;
    font-size: 1rem;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  .about-link a:hover {
    color: #666;
  }

  .socialMediaIcon {
    max-width: 1.7rem;
  }

  .socialMediaIcon:hover {
    cursor: pointer;
  }

  .social-icons {
    column-gap: 20px;
  }

  .developer {
    margin-bottom: 50px;
  }
  
  
  